
data preparation/scrape/webs/www.topcv.vn/jobs_data.csv
data preparation/scrape/webs/www.topcv.vn/company_link.csv
data preparation/scrape/webs/www.topcv.vn/companies_data.csv
node_modules
.DS_Store
front-end/findev/package.json
front-end/findev/yarn.lock
