.container {
  overflow: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.columnHeader,
.rowHeader {
  padding: 8px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.cell {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activatedCell {
  background-color: #e6e6e6;
}

.selectedCell {
  background-color: #ffcccc;
}

.draggingCell {
  background-color: #e6e6e6;
  border: 2px dashed #333;
}
