// color
$white: #fff;
$black: #000;
$primary: #1967d2;
$primary-dark: #0d47a1;
$primary-light: #e2eaf8;
$secondary: #b4e114;
$red: #ea4335;
$green: #34a853;
$yellow: #fda500;
$bg: #f5f7fc;
$sub-text: #696969;
$gray: #999;
