.wrapper {
  @include display(flex, flex-start, flex-start, column);
  position: relative;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
  }

  .error {
    @include typography-style(0.875, $fontWeight: 400, $letterSpacing: 0);
    margin-top: 0.25rem;
    color: red;

    @media (min-width: 1920px) {
      margin-top: 0.5rem;
      font-size: 1rem;
    }

    @media (min-width: 2560px) {
      margin-top: 1rem;
      font-size: 1.125rem;
    }
  }
}
